@{
    ViewData["Title"] = "Home Page";

    var user = Context.GetLogiraniKorisnik();

    var role = (user != null ? Context.GetUlogaKorisnika().Naziv : "");
}

<div class="container">
    <div class="row homePageHeader">
        <div class="col-md-12">
            <div class="col-md-12">
                <img src="~/images/logo.png" class="col-md-4 col-md-offset-4 img-responsive img-circle" />
                <h1 class="col-md-12">Dobrodošli na eKliniku. Vaše zdravlje, naša briga!</h1>
            </div>

        </div>
    </div>
    <div class="row">
        @if (role == "Administrator")
        {
            <a asp-action="Index" asp-controller="Referent" class="col-md-3">
                <div class="col-md-12 homePageDivs">
                    <img src="~/images/patitent-home.png" class="col-md-12 img-responsive" />
                    <h4>Odjel za referente</h4>
                </div>
            </a>
        }
        else
        {
            <a asp-action="Index" asp-controller="Pacijent" class="col-md-3">
                <div class="col-md-12 homePageDivs">
                    <img src="~/images/patitent-home.png" class="col-md-12 img-responsive" />
                    <h4>Odjel za pacijente</h4>
                </div>
            </a>
        }
        <a asp-action="LandingPage" asp-controller="Pregledi" class="col-md-3">
            <div class="col-md-12 homePageDivs">
                <img src="~/images/staff-home.jpg" class="col-md-12 img-responsive" />
                <h4>Odjel za osoblje</h4>
            </div>
        </a>
        <a asp-action="Index" asp-controller="Apoteka" class="col-md-3">
            <div class="col-md-12 homePageDivs">
                <img src="~/images/pharmacy-homepage.png" class="col-md-12 img-responsive" />
                <h4>Odjel za apoteku</h4>
            </div>
        </a>
        @if (role == "Administrator")
        {
            <a asp-action="Index" asp-controller="MedicinskaSestra" class="col-md-3">
                <div class="col-md-12 homePageDivs text-center">
                    <img src="~/images/Nurse.jpg" class="col-md-12 img-responsive" />
                    <h4>Odjel za medicinske sestre</h4>
                </div>
            </a>
        }
        else if (role == "MedicinskaSestra")
        {
            <a asp-action="Index" asp-controller="MedicinskaSestra" class="col-md-3">
                <div class="col-md-12 homePageDivs text-center">
                    <img src="~/images/Nurse.jpg" class="col-md-12 img-responsive" />
                    <h4>Odjel za admin. osoblje</h4>
                </div>
            </a>
        }
        else if (role == "Referent")
        {
            <a asp-action="Index" asp-controller="Referent" class="col-md-3">

                <div class="col-md-12 homePageDivs">
                    <img src="~/images/Nurse.jpg" class="col-md-12 img-responsive" />
                    <h4>Odjel za admin. osoblje</h4>
                </div>
            </a>
        }
        else
        {
            <a asp-action="Login" asp-controller="Account" class="col-md-3">

                <div class="col-md-12 homePageDivs">
                    <img src="~/images/Nurse.jpg" class="col-md-12 img-responsive" />
                    <h4>Odjel za admin. osoblje</h4>
                </div>
            </a>
        }
    </div>
    <div class="center-block">
        <h3>O nama – Stručni, profesionalni, iskusni i diskretni</h3>
        eKlinika počela je sa radom 1998. godine. Kao jedna od vodećih i najopremljenijih privatnih klinika u Sarajevu, brinemo se o zdravlju mnogobrojnih pacijenata. Zadovoljstvo naših pacijenata ogleda se u broju zdravstvenih kartona koji u našoj klinici danas prelazi cifru od 20.000!

        Naš tim sačinjavaju iskusni i priznati medicinski stručnjaci koji su prepoznati kao jedni od vodećih stručnjaka u svojim oblastima kako u BiH, tako i u inostranstvu. Pružamo usluge iz različitih medicinskih oblasti poput opće, porodične, sportske i interne medicine, radiologije, kardiologije itd.
    </div>


    <div>
        <div class="fusion-layout-column fusion_builder_column fusion_builder_column_1_3  fusion-one-third fusion-column-first 1_3" style="margin-top:30px;margin-bottom:20px;width:33.33%;width:calc(33.33% - ( ( 4% + 4% ) * 0.3333 ) );margin-right: 2%; display: inline-block;">
            <div class="fusion-column-wrapper" style="padding: 0px 0px 0px 0px;background-position:left top;background-repeat:no-repeat;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;" data-bg-url="">
                <div class="imageframe-align-center">
                    <span class="fusion-imageframe imageframe-none imageframe-4 hover-type-none">
                        <img src="~/images/patient03.jpg" width="90px" height="100px" alt="" title="" style="border-radius: 50%;">
                    </span>
                </div>
                <div class="fusion-sep-clear">
                </div>
                <div class="fusion-separator fusion-full-width-sep sep-single sep-solid" style="border-color:#f4f4f4;border-top-width:5px;margin-left: auto;margin-right: auto;margin-top:15px;margin-bottom:15px;width:100%;max-width:100%;">
                </div>
                <div class="fusion-text">
                    <p>Potpuno sam zadovoljan odnosom doktora, kao i samim tretmanom liječenja. Definitivno najbolja internistička usluga u BiH.</p>
                    <p><strong>Emir Aličković – Sarajevo</strong></p>
                </div>
                <div class="fusion-clearfix"></div>
            </div>
        </div>
        <div class="fusion-layout-column fusion_builder_column fusion_builder_column_1_3  fusion-one-third fusion-column-first 1_3" style="margin-top:0px;margin-bottom:20px;width:33.33%;width:calc(33.33% - ( ( 4% + 4% ) * 0.3333 ) );margin-right: 2%; display: inline-block;">
            <div class="fusion-column-wrapper" style="padding: 0px 0px 0px 0px;background-position:left top;background-repeat:no-repeat;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;" data-bg-url="">
                <div class="imageframe-align-center">
                    <span class="fusion-imageframe imageframe-none imageframe-4 hover-type-none">
                        <img src="~/images/patient02.jpg" width="90px" height="100px" alt="" title="" style="border-radius: 50%;">
                    </span>
                </div>
                <div class="fusion-sep-clear">
                </div>
                <div class="fusion-separator fusion-full-width-sep sep-single sep-solid" style="border-color:#f4f4f4;border-top-width:5px;margin-left: auto;margin-right: auto;margin-top:15px;margin-bottom:15px;width:100%;max-width:100%;">
                </div>
                <div class="fusion-text">
                    <p>Nakon neugodnih pregleda po raznim zdravstvenim ustanovama širom BiH, eKlinika je jedina napravila čudo. Usluga za 10! </p>
                    <p><strong>Dino Šerić – Mostar</strong></p>
                </div>
                <div class="fusion-clearfix"></div>
            </div>
        </div>
        <div class="fusion-layout-column fusion_builder_column fusion_builder_column_1_3  fusion-one-third fusion-column-first 1_3" style="margin-top:0px;margin-bottom:20px;width:33.33%;width:calc(33.33% - ( ( 4% + 4% ) * 0.3333 ) );margin-right: 2%; display: inline-block;">
            <div class="fusion-column-wrapper" style="padding: 0px 0px 0px 0px;background-position:left top;background-repeat:no-repeat;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;" data-bg-url="">
                <div class="imageframe-align-center">
                    <span class="fusion-imageframe imageframe-none imageframe-4 hover-type-none">
                        <img src="~/images/patient01.jpg" width="90px" height="100px" alt="" title="" style="border-radius: 50%;">
                    </span>
                </div>
                <div class="fusion-sep-clear">
                </div>
                <div class="fusion-separator fusion-full-width-sep sep-single sep-solid" style="border-color:#f4f4f4;border-top-width:5px;margin-left: auto;margin-right: auto;margin-top:15px;margin-bottom:15px;width:100%;max-width:100%;">
                </div>
                <div class="fusion-text">
                    <p>I pored mora bližih privatnih poliklinika i ambulanti, odlučila sam se na potez da eKlinika bude moj prvi i jedini izbor.</p>
                    <p><strong>Sanja Tomić – Tuzla</strong></p>
                </div>
                <div class="fusion-clearfix"></div>
            </div>
        </div>
    </div>

</div>
<div class="footer">
    <p>
        2018 eKlinika. All rights reserved.<br />
        Web by <a href="https://www.fit.ba">FIT team</a>
    </p>
</div>

<style>
    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 50px;
        background-color: rgb(34,34,34);
        color: rgb(155,155,155);
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        z-index: 1;
    }

        .footer p {
            margin: 30px;
        }
</style>