@model eKlinika.ViewModels.UputnicaIndexVM


<div class="row" id="UputnicaDiv">
    <a class="btn btn-primary" asp-controller="Doktor" asp-action="Index" style="margin-top:20px;"><i class="fas fa-hand-point-left icons-margin-right"></i>Nazad</a>
    <h1>Uputnice</h1>

    <form asp-action="UputnicaPrikazPacijenta" method="post">

        <div class="form-group">
            <label>Pacijent</label>
            <select asp-items="@Model.Pacijenti" id="PacijentiDropdown" data-placeholder="Unesite ime i prezime pacijenta..." asp-for="@Model.PacijentId" class="form-control">
                <option value=""></option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Odaberi</button>

    </form>

</div>

@*<script>

        $(document).ready(function () {
            $('#searchBtn').click(function () {

                var search = document.getElementById('txt').value;

                $.ajax({
                    type: 'GET',
                    url: '/Doktor/Doktor',
                    data: { 'search': search },
                    success: function (result) {
                        //$(document).html(result);
                        $('#UputnicaDiv').html(result);
                    }
                });
            });

        });
    </script>*@

<script>

    $("#PacijentiDropdown").chosen({
        max_shown_results: 10
    });

</script>