@{
    ViewData["Title"] = "Medicinska sestra";
}
<h2 style="text-align:center;">Medicinska sestra</h2>

<div class="row center-block" style="margin-top: 40px; margin-left: 250px; ">
    <div class="row">
        <a asp-action="IndexPacijenta" asp-controller="MedicinskaSestra" class="col-md-4">
            <div class="col-md-12 homePageDivs">
                <img src="~/images/Patient.png" class="col-md-12 img-responsive" />
                <h4>Pacijent</h4>
            </div>
        </a>
        <a asp-action="IndexUplate" asp-controller="MedicinskaSestra" class="col-md-4">
            <div class="col-md-12 homePageDivs">
                <img src="~/images/Uplate.png" class="col-md-12 img-responsive" />
                <h4>Uplate</h4>
            </div>
        </a>
    </div>
    <div class="row">
        <a asp-action="UputnicaIndex" asp-controller="MedicinskaSestra" class="col-md-4">
            <div class="col-md-12 homePageDivs">
                <img src="~/images/Uputnica.png" class="col-md-12 img-responsive" />
                <h4>Uputnice</h4>
            </div>
        </a>
        <a asp-action="PregledIndex" asp-controller="MedicinskaSestra" class="col-md-4">
            <div class="col-md-12 homePageDivs">
                <img src="~/images/Pregled.png" class="col-md-12 img-responsive" />
                <h4>Pregledi</h4>
            </div>
        </a>
    </div>
</div>

