@model eKlinika.ViewModels.PropisaniLijekoviIndexVM
@{

}
<div class="container-fluid paddingRight0 paddinLeft0">
    @if (Model.Recepti.Count == 0)
    {
        <div class="col-md-12 text-center alert-warning">
            <h3>Nema dodanih recepata</h3>
        </div>
    }
    else
    {
        <div class="col-md-12 noPaddingClass">
            <table class="noPaddingClass table">
                <thead>
                <th class="text-center">Lijek</th>
                <th class="text-center">Kolicina</th>
                <th class="text-center">Akcija</th>
                </thead>
                <tbody>
                    @foreach (var item in Model.Recepti)
                    {
                        <tr>
                            <td>@(item.Lijek.Naziv + "( " + item.Lijek.Tip + " )")</td>
                            <td>@item.Kolicina</td>
                            <td class="text-right">
                                <a class="btn btn-success" asp-action="ReceptDetails" asp-controller="Pregledi" asp-route-Id="@item.Id" ajax-poziv="da" ajax-rezultat="rezDiv">Detalji</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
</div>