@{
    ViewData["Title"] = "Apoteka";
}

<div class="row center-block" style="margin-top: 40px; margin-left: 250px; ">
    <div class="row">
        <a asp-action="LijekLibrary" asp-controller="Apoteka" class="col-md-4">
            <div class="col-md-12 homePageDivs">
                <img src="~/images/pills.jpg" class="col-md-12 img-responsive" />
                <h4>Biblioteka lijekova</h4>
            </div>
        </a>

        <a asp-action="IzdatiRacuniIndex" asp-controller="Apoteka" class="col-md-4">
            <div class="col-md-12 homePageDivs">
                <img src="~/images/receipt.jpg" class="col-md-12 img-responsive" />
                <h4>Računi</h4>
            </div>
        </a>
    </div>
    <div class="row">
        <a asp-action="IndexNarudzbi" asp-controller="Apoteka" class="col-md-4">
            <div class="col-md-12 homePageDivs">
                <img src="~/images/order.jpg" class="col-md-12 img-responsive" />
                <h4>Narudžbe</h4>
            </div>
        </a>
        <a asp-action="ReceptiIndex" asp-controller="Apoteka" class="col-md-4">
            <div class="col-md-12 homePageDivs">
                <img src="~/images/recept.jpg" class="col-md-12 img-responsive" />
                <h4>Obrada recepata</h4>
            </div>
        </a>
    </div>
</div>