<div style="position: absolute; margin-top: 40px;">
    <a class="btn btn-danger" asp-action="IzdatiRacuniIndex">Index izdatih racuna</a><br /><br />
    <a class="btn btn-danger" asp-action="ReceptiIndex">Index recepata</a>
</div>